/* Navbar */
.mainContainer .top_menu_bar {
  margin-bottom: 0px;
}

.mainContainer .top_menu_bar .navbar {
  background-color: lightblue;
  border-color: lightblue;
}

.mainContainer .top_menu_bar  .container {
  width: 100%;
  background-color: lightblue;
}

.link .search-bar-input {
  width: 100%;
}

.link .loader {
  position:relative;
  margin-right:15px;
  top: 0;
  right: 300px;
  bottom: 0;
  left: 0;
}

/* Main Container */
.mainContainer .search-bar-wrapper {
  /*background-color: lightgray;*/
  display: table;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-right: 35px;
  /*border-radius: 10px;*/
}

.mainContainer .search-bar-input {
  width: 100%;
  border: 1px solid lightblue;
  padding-top:5px;
  padding-left:5px;
  padding-bottom:5px;
}

.mainContainer .user-okr {
  padding-right: 35px;
}

.objective textarea {
  width: 100%;
  min-width:200px;
  max-width:100%;

  height:200px;
  min-height:200px;
  max-height:200px;
}

.key-result textarea {
  width: 100%;
  min-width:200px;
  max-width:100%;

  height:200px;
  min-height:200px;
  max-height:200px;
}

.sidebar {
  background-color: white;
  height: 100%;
}

.sidebar .sidebar_btn_toolbar {
  background-color: lightblue;
  margin-bottom: 20px;
}

.sidebar .sidebar_btn_toolbar .btn {
  float:right;
}

.mainContainer .left_menu_bar {
  margin-top: 10px;
  border: 1px solid lightgray;
  height: 1000px;
  padding: 10px 20px 20px 20px;
}

.left_menu_bar .header h5 {
  background-color: lightblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainContainer .user-okr {
  margin-left: 5px;
  width: 100%;
}

.mainContainer .user-okr .toggle_button {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

/* Rest */
.avatar {
  width:48px;
  height:48px;
}

.avatar_min {
  width:32px;
  height:32px;
}

.avatar_max {
  width:64px;
  height:64px;
}

.left_menu_bar {
  margin-left:10px;
}

.left_menu_bar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left_menu_bar .team h4{
  padding-left: 0px;
  margin-bottom: 0px
}

.left_menu_bar .team h5{
  padding-left: 0px;
  margin-bottom: 0px
}

.left_menu_bar .manager {
  margin-left: 0px;
}

.left_menu_bar .manager h5 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.left_menu_bar .reports .report {
  margin-left: 0px;
  margin-bottom: 5px
}

.left_menu_bar h4 {
  padding-left: 10px;
}

.left_menu_bar h5 {
  padding-left: 10px;
  color: darkgray;
}

.admin {
  margin: 10px 10px 10px 10px;
}

.admin .search-bar-input {
  width: 85%;
  margin: 0px 10px 0px 10px;
}

.admin form {
  padding: 10px 10px 10px 10px;
}

.comment_form .modal-content h4 {
  text-align: center;
}

.comment .reply textarea {
  width: 99%;
}

.comment .comment_reply_box textarea {
  width: 99%;
}

.comment .comment_comment_box textarea {
  width: 99%;
}

.comment a {
  margin-right: 5px;
}

.comment .comment_reply_box_buttons {
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment .comment_edit_box_buttons {
  background-color: lightgray;
  padding-bottom: 5px;
}

.comment .comment_reply_box {
  background-color: lightgray;
}

.comment .comment_reply_box .inner {
  padding-top:5px;
}

.comment .comment_row {
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment .comment_row textarea {
  width: 99%;
}

.comment .comment_operations_row {
  background-color: lightgray;
}

.comment .reply {
  background-color: lightgray;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment .reply_date {
  color: black;
}

.comment .from {
  font-weight: bolder;
}

table td textarea {
  width: 100%;
  height: 10em;
}

table td input {
  width: 100%;
}

/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
